.accessory-wrap {
  .column {
    width: 25%;
    @include max-media(768px) {
      width: calc(100% / 3);
    }
    @include max-media(600px) {
      width: 50%;
    }
    @include max-media(500px) {
      width: 100%;
    }
  }
}

.ac-item {
  border-radius: 8px;
  border: 1px solid rgba(#000, 0.1);
  background-color: #fff;
  overflow: hidden;
  height: 100%;
  transition: .2s;

  .ac-top {
    position: relative;

    &-img {
      display: block;
      height: 0;
      padding-top: 64%;
      position: relative;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($red, 0);
      transition: .2s;
      @include max-media(768px) {
        background-color: rgba($red, 0.1);
      }

      &-gift {
        width: 26px;
        height: 26px;
        border-radius: 100%;
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: $red;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        > img {
          width: 12px;
          height: auto;
        }
      }

      &-btn {
        padding: 8.5px 36px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        opacity: 0;
        @include max-media(768px) {
          padding: 6px 20px;
        }
      }
    }
  }

  .ac-bottom {
    padding: 15px;
    background-color: #F6F6F6;
    border-top: 1px solid rgba(#000, 0.1);

    &-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 1.3;
      margin-bottom: 5px;

      a {
        transition: .2s;
        display: inline-block;
      }
    }

  }

  &:hover {
    border-color: rgba(#000, 0.1);

    .ac-top {
      &-info {
        background-color: rgba($red, 0.3);

        &-btn {
          opacity: 1;
        }
      }
    }

    .ac-bottom {
      background-color: transparent;
    }
  }
}

.accessory-detail-sec {
  padding-top: 60px;
  @include max-media(600px) {
    padding-top: 40px;
  }
}

.ac-detail {
  margin-bottom: 160px;

  > .columns {
    align-items: center;
  }

  @include max-media(1024px) {
    margin-bottom: 60px;
  }
  @include max-media(600px) {
    margin-bottom: 40px;
  }

  &-main {
    width: calc(100% / 12 * 8);
    text-align: center;
    @include max-media(1024px) {
      width: calc(100% / 12 * 7);
    }
    @include max-media(600px) {
      width: 100%;
    }

    img {
      width: auto;
      height: auto;
    }
  }

  &-aside {
    width: calc(100% / 12 * 4);
    @include max-media(1024px) {
      width: calc(100% / 12 * 5);
    }
    @include max-media(600px) {
      width: 100%;
    }
  }

  &-title {
    @include fz-35;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &-price {
    @include fz-20;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &-rating {
    margin-bottom: 15px;
  }

  &-desc {
    background-color: #fff;
    border: 1px solid $red;
    padding: 15px;
    text-align: center;
    min-height: 121px;
    margin-bottom: 18px;
  }
}