.home-banner-slider {
  .swiper-wrapper {
    margin: 0;
  }

  .swiper-slide {
    padding: 0;
  }

  .swiper-pagination {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    max-width: 100%;
    padding: 0 15px;
    text-align: right;
    @include max-media(768px) {
      text-align: center;
    }
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;

    &::before {
      width: 10px;
      height: 10px;
      background-color: rgba(#fff, 0.3);
    }
  }

  .swiper-pagination-bullet-active {
    &::before {
      background-color: #fff;
    }
  }
}

.home-banner-item {
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding: 150px 0 180px;
  position: relative;
  overflow: hidden;
  @include max-media(768px) {
    padding: 80px 0 120px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#000, rgba(#000, 0));
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 1920px;
    height: 100%;
    background-image: url("../images/home-banner-decor.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
    z-index: 2;
    @include max-media(768px) {
      display: none;
    }
  }

  .container {
    position: relative;
    z-index: 3;
  }

  .columns {
    align-items: center;
  }

  .home-banner-img {
    width: calc(100% / 12 * 7);
    text-align: center;
    @include max-media(768px) {
      width: 100%;
    }
  }

  .home-banner-info {
    width: calc(100% / 12 * 5);
    @include max-media(768px) {
      width: 100%;
      text-align: center;
    }

    &-sub-title {
      @include fz-30;
      margin-bottom: 15px;
      color: $red;
      @include max-media(768px) {
        margin-bottom: 10px;
      }
    }

    &-title {
      @include fz-65;
      font-weight: bold;
      margin-bottom: 35px;
      @include max-media(768px) {
        margin-bottom: 20px;
      }
    }
  }
}