.promotion-item {
  .promotion-img {
    margin-bottom: 20px;
    @include max-media(768px) {
      margin-bottom: 10px;
    }

    a {
      display: block;
      @include zoom-circle-hover;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .promotion-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3;

    a {
      display: inline-block;
      transition: .2s;
    }
  }
}