.sec {
  padding: 85px 0;

  &.pt-0 {
    padding-top: 0;
  }

  &.pb-0 {
    padding-bottom: 0;
  }

  &.p-0 {
    padding: 0;
  }

  @include max-media(1024px) {
    padding: 60px 0;
  }
  @include max-media(768px) {
    padding: 40px 0;
  }
}